Repository checkly/checkly-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: sdk, commands, modules, services, core

chore: add dummy build script
  package.json
Labels: none

chore: fix eslint errors
  .prettierrc.json
  package-lock.json
  scripts/version-pr.js
Labels: none

chore: fix release steps
  .github/workflows/release.yml
Labels: none

ci: add checkly_api_key to gh secrets
  .github/workflows/release.yml
Labels: none

ci: fix env vars
  .prettierrc.json
  src/services/config.js
Labels: services, core

fix: config export
  .gitignore
  README.md
  src/services/config.js
Labels: services, core

ci: test private pkg publish
  .github/workflows/release.yml
Labels: none

fix: reorg dep / devDep
  .github/workflows/release.yml
  package.json
Labels: none

chore: move configs to package.json
  .eslintrc.js
  .prettierrc.json
  package.json
Labels: none

fix: add slack notification on release
  .github/workflows/release.yml
  package.json
Labels: none

fix: standard/prettier conflicts + apply to all files
  bin/run
  sdk/index.js
  src/commands/checks.js
  src/commands/init.js
  src/commands/login.js
  src/index.js
  src/modules/checks/info.js
  src/modules/checks/list.js
  src/services/utils.js
  src/services/yml.js
Labels: sdk, commands, modules, services, core

fix: release slack message
  .github/workflows/release.yml
Labels: none

test: better slack output
  .github/workflows/release.yml
Labels: none

fix: final version syntax
  .github/workflows/release.yml
Labels: none

chore: typo
  .github/workflows/release.yml
Labels: none

Restore .eslintrc.js
  .eslintrc.js
Labels: none

Restore .prettierrc.json
  .prettierrc.json
Labels: none

chore: restore prettier/eslint
  package.json
Labels: none

fix: eslint/standard eslint extend order
  .eslintrc.js
Labels: none

.github/labeler.yml:

sdk:
  - sdk/**/*

commands:
  - src/commands/**/*

modules:
  - src/modules/**/*

services:
  - src/services/**/*

core:
  - src/**/*.js
