Repository checkly/checkly-cli, pull requests merged in 2021-12, with the labels that each got.

#114 feat: github actions smoke-test
  .github/workflows/release.yml
  .github/workflows/test.yml
  bin/checkly-cli
  sdk/endpoints.js
  sdk/index.js
  src/commands/deploy.js
  src/commands/init.js
  src/commands/projects.js
  src/commands/run.js
  src/modules/accounts/list.js
  src/modules/check-statuses/info.js
  src/modules/checks/info.js
  src/modules/checks/list.js
  src/modules/groups/info.js
  src/modules/groups/list.js
  src/modules/projects/delete.js
  src/modules/projects/index.js
  src/modules/projects/list.js
  src/parser/file-parser.js
  src/services/config.js
Labels: services, core, sdk, commands, modules

#118 fix(init): create project on BE before writing .checkly dir [gh-00]
  src/commands/init.js
Labels: core, commands

#121 fix: init cmd copy [gh-110]
  src/commands/init.js
Labels: core, commands

#120 feat: use new sync methods
  sdk/index.js
  src/services/utils.js
Labels: services, core, sdk

#125 fix: eslint fix, use npm 6 for package lock and group schema
  package-lock.json
  src/commands/init.js
  src/commands/login.js
  src/parser/check-parser.js
  src/services/rollup-plugin-checkly-whitelist.js
  src/services/validator.js
Labels: services, core, commands

#126 feat: pass groupId as ref to the BE [sh-0]
  sdk/index.js
  src/parser/check-parser.js
Labels: core, sdk

#128 feat: add testing for assertions
  .gitignore
  package.json
  src/commands/deploy.js
  src/commands/login.js
  src/modules/deploy/deploy.js
  src/modules/deploy/index.js
  src/services/api.js
  src/services/config.js
  test/commands/deploy.assertions.spec.js
  test/commands/project-helper.js
Labels: services, core, commands, modules, tests

#134 fix: catch dependencies that we are not supported
  package-lock.json
  package.json
  src/parser/bundler.js
  src/services/rollup-plugin-checkly-whitelist.js
Labels: services, core

#135 refactor: remove unnecessary function and clean up file
  src/commands/deploy.js
  src/services/utils.js
Labels: services, core, commands

#141 fix: remove this.exit from accounts command
  src/commands/accounts.js
  test/commands/accounts.spec.js
Labels: core, commands, tests

#142 feat: add alert channel support
  src/parser/check-parser.js
  src/parser/file-parser.js
  src/parser/index.js
  src/parser/resource-parser.js
  src/parser/resources.js
  src/schemas/alerts.js
Labels: core

#130 fix: add npm test to ci
  .github/workflows/test.yml
  .mocharc.js
  package.json
  test/commands/accounts.spec.js
  test/commands/checks.spec.js
  test/commands/deploy.assertions.spec.js
  test/commands/groups.spec.js
  test/commands/status.spec.js
  test/commands/switch.spec.js
  test/setup-auth.js
Labels: tests

#144 feat: add a location flag to the check run
  src/commands/run.js
Labels: core, commands

#145 fix: remove title from templates as it is not used
  src/templates/browser.js
Labels: core, templates

#147 fix: print passing when the status is healthy
  src/modules/check-statuses/info.js
Labels: core, modules

#146 fix: fetch all the available checks
  sdk/index.js
  src/modules/checks/list.js
  test/commands/checks.spec.js
Labels: core, sdk, modules, tests

#149 chore: only show the formatted fields
  src/modules/projects/list.js
Labels: core, modules

#150 feat: allows the user to create projects
  src/commands/projects.js
  src/modules/projects/create.js
  src/modules/projects/index.js
Labels: core, commands, modules

#151 feat: allow users to pass logical id to run checks
  src/commands/run.js
  src/parser/index.js
Labels: core, commands
