Repository checkly/checkly-cli, pull requests merged in 2021-09, with the labels that each got.

#40 feat: cmd run fuzzy find
  package-lock.json
  package.json
  src/commands/run.js
Labels: core, commands

#60 feat: cli oauth login
  package-lock.json
  package.json
  src/commands/login.js
  src/services/login-util.js
Labels: services, core, commands

#41 feat: whitelist packages via custom rollup plugin
  src/parser/bundler.js
  src/parser/check-parser.js
  src/services/rollup-plugin-checkly-whitelist.js
Labels: services, core

#65 fix: pkce state verification
  src/commands/login.js
  src/services/login-util.js
Labels: services, core, commands

#66 chore: cleanup check templates
  src/templates/api.js
  src/templates/browser.js
  src/templates/init.js
Labels: core, templates

#61 refactor: remove conf command and re organize configuration properties
  package-lock.json
  package.json
  src/commands/init.js
  src/commands/login.js
  src/commands/projects.js
  src/index.js
  src/services/api.js
  src/services/config.js
  src/services/default-config.js
  src/services/flags.js
  src/services/login-util.js
Labels: services, core, commands

#68 feat: add account switch command
  SECURITY.md
  sdk/endpoints.js
  sdk/index.js
  src/commands/switch.js
  src/services/validator.js
Labels: services, core, sdk, commands

#73 Add new public commands and fix logout
  src/commands/logout.js
  src/services/config.js
Labels: services, core, commands

#72 feat: add use case for single account users (switch)
  src/commands/switch.js
Labels: core, commands

#75 Update accounts api module name
  sdk/index.js
  src/commands/login.js
  src/commands/whoami.js
Labels: core, sdk, commands
